* {}

.fira-sans-bold {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    letter-spacing: 0%;
    font-style: normal;
}

/* Shared style */
.btn-primary {
    background-color: white;
    color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid rgb(0, 106, 80);

}

/* header section */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 160px;
}

.nav-title {
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

nav ul li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

nav li button:hover {
    background-color: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
}

.banner-content button:hover {
    background-color: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 160px;
    background-color: rgb(198, 228, 214);
    padding: 60px 80px 60px 80px;
    border-radius: 24px;
}

.banner-title {
    color: rgba(14, 14, 14, 0.5);
}

.banner-main {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    /* line-height: px; */
    letter-spacing: 0%;
    text-align: left;
}

.item-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
}

.section-title {
    text-align: left;
    padding-left: 160px;
    margin-top: 80px;
    margin-bottom: 32px;
}


.pillars-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
    margin: 32px 160px;
}

.pillars-item {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 32px 24px;
}

.pillars-items img {
    width: 50px;
}

/* vision */
.pillars-item a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.btn-vision {
    background-color: white;
    color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    border: none;
    padding: 11px 20px;
    margin-top: 35px;
    border-radius: 8px;
    border: 1px solid rgb(0, 106, 80);
}

.vision-p {
    text-align: left;
    padding-left: 160px;
    padding-right: 160px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-bottom: 32px;
    color: rgba(14, 14, 14, 0.7);
}

.hover1 {
    background-color: rgb(84, 144, 245);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(84, 144, 245);
    cursor: pointer;
}

.hover2 {
    background-color: rgb(9, 161, 92);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(9, 161, 92);
    cursor: pointer;
}

.hover3 {
    background-color: rgb(255, 194, 57);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 194, 57);
    cursor: pointer;
}

.item1 {
    background-color: rgba(84, 144, 245, 0.2);
}

.item2 {
    background-color: rgb(198, 228, 214);
}

.item3 {
    background-color: rgb(247, 235, 207);
}

/* Yunus part */
.yunus {
    text-align: left;
    margin-left: 160px;
    margin-right: 158px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    position: relative;
}

.yunus img {
    /* width: 27px; */
    position: absolute;
    margin-top: 35px;
}

.yunus-detail {
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    padding-top: 30px;
    margin-top: 35px;
}

.yunus-last {
    margin-bottom: 40px;
}

.yunus-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    /* line-height: 24px;
     letter-spacing: 0%;  */
    text-align: left;

}

.yunus-sub-title {
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

/* Opinion part CSS*/
.opinion {
    margin-top: 80px;
    margin-bottom: 80px;
}

.opinion-table {
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-left: 160px;
    margin-right: 160px;

}

.opinion table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.opinion table thead {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
}

.opinion table thead th {
    padding: 24px;
    text-align: left;
}

.opinion table tbody td {
    padding: 24px;
    text-align: left;
    border: 1px solid rgba(14, 14, 14, 0.15);
}


.opinion table tbody td select {
    text-decoration: none;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    font-family: Fira Sans;
    background: rgb(198, 228, 214);
    color: rgb(14, 14, 14);
    font-size: 16px;
    font-weight: 500;

}

/* Recent News */
.recent-news button:hover {
    color: rgb(255, 255, 255);
    border-radius: 8px;
    background: rgb(0, 106, 80);
}

.recent-box {
    padding: 48px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 160px;
    gap: 32px;
}

.recent-img {
    margin-top: 30px;
    border-radius: 24px; 
}

.recent-subtitle {
    color: rgba(14, 14, 14, 0.8);
    font-size: 30px;
    font-weight: 800;
}

.recent-box p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}